@font-face {
  font-family: "FuturaNewBold700";
  src: url("../assets/fonts/FuturaNewBold-Reg.eot") format("eot"),
    url("../assets/fonts/FuturaNewBold-Reg.ttf") format("ttf"),
    url("../assets/fonts/FuturaNewBold-Reg.woff") format("woff"),
    url("../assets/fonts/FuturaNewBold-Reg.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FuturaNewBook400";
  src: url("../assets/fonts/FuturaNewBook-Reg.eot") format("eot"),
    url("../assets/fonts/FuturaNewBook-Reg.ttf") format("ttf"),
    url("../assets/fonts/FuturaNewBook-Reg.woff") format("woff"),
    url("../assets/fonts/FuturaNewBook-Reg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SchoolBook";
  src: url("../assets/fonts/SchoolBookC.eot") format("eot"),
    url("../assets/fonts/SchoolBookC.ttf") format("ttf"),
    url("../assets/fonts/SchoolBookC.woff") format("woff"),
    url("../assets/fonts/SchoolBookC.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
