  /* Шрифт */
@font-face {
    font-family: "FuturaNewBook400";
    src: url("../assets/fonts/FuturaNewBook-Reg.eot") format("eot"),
      url("../assets/fonts/FuturaNewBook-Reg.ttf") format("ttf"),
      url("../assets/fonts/FuturaNewBook-Reg.woff") format("woff"),
      url("../assets/fonts/FuturaNewBook-Reg.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

  /* Стили футера */
footer {
    background-color: #59443F;
    color: #FFFFFF;
    font-size: 1rem;
    font-family:"FuturaNewBook400";
}

  /* Форматирование ссылок футера */
a {
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #9b9b9b; 
}

  /* Позиционирование элементов */
.confident {
    margin-left: 2%;
}

.my-custom-button-appstore {
    border-radius: 0px;
    padding-right: 0px;
}

.my-custom-button-google {
    border-radius: 0px;
    padding-left: 20px;
}

.whatsapp-black-heart {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    outline: none;
}

.made-with-unitbean {
    margin-top: 18%;
}

.custom-button-a {
    margin-top: 3%;
    margin-right: 10%;
}

.custom-padding-f1 {
    margin-top: 1%;
}
.custom-padding-f5 {
    padding-left: 2%;
}
.custom-padding-f6 {
    padding-left: 0%;
}
.custom-padding-f12 {
    padding-left: 3%;
}

  /* Изменение порядка и отображения на маленьких экранах */
@media (max-width: 767px) {
    .col1, .col3, .col4, .col7, .col11 {
    display: none;
    }

    .col1 { order: 1; }
    .col9 { order: 2; }
    .col10 { order: 3; }
    .col8 { order: 4; }
    .col5 { order: 5; }
    .col6 { order: 6; }
    .col12 { order: 7; }

    .col1, .col9,.col10, .col5, .col6, .col12 {
    margin-left: 6px;
    } 
    .custom-button-a {
        margin-top: 0%;
        margin-right: 5%;
        
    }

    .my-custom-button-appstore {
        border-radius: 0px;
        padding-right: 0px;
    }
    
    .my-custom-button-google {
        border-radius: 0px;
        padding-left: 20px;
    }  
    .custom-padding-f1 {
        margin-top: 1%;
    }
    .custom-padding-f5 {
        padding-left: 2%;
    }
    .custom-padding-f6 {
        padding-left: 0%;
    }
    .custom-padding-f12 {
        padding-left: 6%;
    }

}
  /* Изменение порядка и отображения на больших экранах */
@media (min-width: 1200px) {
    .footer {
    height: 100%;
    font-size: 2rem;
    }
}