@font-face {
  font-family: "FuturaNewBold700";
  src: url("../assets/fonts/FuturaNewBold-Reg.eot") format("eot"), url("../assets/fonts/FuturaNewBold-Reg.ttf") format("ttf"), url("../assets/fonts/FuturaNewBold-Reg.woff") format("woff"), url("../assets/fonts/FuturaNewBold-Reg.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "FuturaNewBook400";
  src: url("../assets/fonts/FuturaNewBook-Reg.eot") format("eot"), url("../assets/fonts/FuturaNewBook-Reg.ttf") format("ttf"), url("../assets/fonts/FuturaNewBook-Reg.woff") format("woff"), url("../assets/fonts/FuturaNewBook-Reg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SchoolBook";
  src: url("../assets/fonts/SchoolBookC.eot") format("eot"), url("../assets/fonts/SchoolBookC.ttf") format("ttf"), url("../assets/fonts/SchoolBookC.woff") format("woff"), url("../assets/fonts/SchoolBookC.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
body {
  max-width: 1920px;
  min-width: 240px;
  margin: 0 auto;
  padding: 0;
  font-family: "FuturaNewBook400", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  background-color: #fffefe;
}

.header {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  padding-top: 2rem;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.nav {
  width: 60%;
}
.nav__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
  padding: 5px;
  font-family: "FuturaNewBold700", sans-serif;
  font-style: normal;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 100%;
}
.nav__link {
  color: #c3b9b5;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.3;
}
.nav__link:hover {
  color: #59443f;
}
.nav__link:hover:hover::before {
  width: 100%;
}

#location {
  display: flex;
  align-items: center;
  padding: 5px;
  font-family: "FuturaNewBold700", sans-serif;
  font-style: normal;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 100%;
  color: #ffc59e;
}

.main-screen__wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.main-screen__sidebar {
  width: 20%;
}
.main-screen__box {
  width: 79%;
}

h1 {
  font-family: "SchoolBook", sans-serif;
  font-style: normal;
  font-size: 5rem;
  font-weight: 400;
  line-height: 137.5%;
  color: #080606;
}

.main__button {
  position: absolute;
  top: 43rem;
  z-index: 1;
  font-family: "FuturaNewBold700", sans-serif;
  font-size: 1.25rem;
  color: #ffffff;
  background-color: #ffc59e;
  border-radius: 33.5px;
  border: 1px solid #ffc59e;
  box-shadow: 0px 4px 20px 0px #ffc59e;
  padding: 0.5rem 1.25rem;
  transition: 0.3s all;
}
.main__button:hover {
  background-color: #59443f;
  border-color: #59443f;
}

.telefone {
  font-family: "FuturaNewBold700", sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 125%;
  color: #59443f;
}

.contacts__wrapper {
  position: relative;
  top: -10rem;
  left: -3rem;
  z-index: 1;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social_icons__wrapper {
  display: flex;
}
.social_icons__item {
  padding: 3.125rem;
}/*# sourceMappingURL=style1.css.map */